/* Estilos extra para elementos que no se puede terminar de modificar bien y que quede bonito con boostrap */

a {
    text-decoration: none;
    color: white;
}

p:hover {
    color: white !important;
}

a:hover {
    text-decoration: underline;
}

#index {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(90%) !important;
}

#index2 {
    background-image: url("../img/Bosque.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(80%) !important;
}

#index3 {
    background-image: url("../img/Bosque.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home {
    background-image: url("../img/fondoCiudad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(90%) !important;
}

#homeSagrada {
    background-image: url("../img/fondoSagrada.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(50%) !important;
}

#homeCamp {
    background-image: url("../img/campnouFondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(50%) !important;
}

#homePark {
    background-image: url("../img/parkGuell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(50%) !important;
}

#btnTop{
    transition: 0.5s !important;
}

#btnTop:hover{
   font-size: 2.2em !important;
}

.nav-pills strong {
    transition: 1s;
}

.nav-pills strong:hover {
    font-size: 1.2em !important;
    text-decoration: underline;
}

.mensajeEmergente {
    z-index: +10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mensajeEmergente .toast {
    transition: none;
}

.ventanaNegra {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.404);
    left: 0;
    top: 0;
    width: 100vw;
    height: 139vh;
    z-index: +9;
}